@tailwind base;
@tailwind components;
@tailwind utilities;

html {

  box-sizing: border-box;
  --bgColorMenu : #1d1d27;
  --duration: .7s;    

}

html *,
html *::before,
html *::after {

  box-sizing: inherit;

}

body{
  
  margin: 0;
  display: flex;
  height: 100vh;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  background-color: #ffb457;
  -webkit-tap-highlight-color: transparent;
  transition: background-color var(--duration);

}


.menu_wraper{
  position: fixed;
  left: 0;
  bottom: 0;
}

.menu{

  margin: 0;
  display: flex;
  /* Works well with 100% width  */
  width: 100vw;
  font-size: 1.5em;
  padding: 0 2.85em;
  position: relative;
  align-items: center;
  justify-content: center;
  background-color: var(--bgColorMenu);
  
}

.menu__item{
  
  all: unset;
  flex-grow: 1;
  z-index: 100;
  display: flex;
  cursor: pointer;
  position: relative;
  border-radius: 50%;
  align-items: center;
  will-change: transform;
  justify-content: center;
  padding: 0.55em 0 0.85em;
  transition: transform  .7s;
  
}

.menu__item::before{
  
  content: "";
  z-index: -1;
  width: 4.2em;
  height: 4.2em;
  border-radius: 50%;
  position: absolute;
  transform: scale(0);
  transition: background-color 0.7s, transform 0.7s;
  
}


.menu__item.active {

  transform: translate3d(0, -.8em , 0);

}
.menu_item1.active::before {background-color: #ff8c00}
.menu_item2.active::before {background-color: #f54888}
.menu_item3.active::before{background-color: #4343f5}
.menu_item4.active::before {background-color: #e0b115}
.menu_item5.active::before {background-color: #65ddb7}

.menu__item.active::before{
  
  transform: scale(1);
  transition: 0.7s;
  /* background-color: var(--bgColorItem); */

}

.icon{
  
  width: 2.6em;
  height: 2.6em;
  stroke: white;
  fill: transparent;
  stroke-width: 1pt;
  stroke-miterlimit: 10;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 400;
  
}

.menu__item.active .icon {

  animation: strok 1.5s reverse;
  
}

@keyframes strok {

  100% {

      stroke-dashoffset: 400;

  }

}

.menu__border{

  left: 0;
  bottom: 99%;
  width: 10.9em;
  height: 2.4em;
  position: absolute;
  clip-path: url(#menu);
  will-change: transform;
  background-color: var(--bgColorMenu);
  transition: transform var(--timeOut , var(--duration));
  
}

.svg-container {

  width: 0;
  height: 0;
}



.videoInsta{display: flex;    flex-direction: column-reverse;
  align-items: center;}

#sendLink input{padding: 5px;width: 480px;}
#sendLink button{padding: 5px;background: #00abab;color: #fff;}
.downloaddy{margin:10px;display: flex;
  flex-wrap: wrap;

  justify-content: center;}
.downloaddy a{    background: #4c4c4c;
  padding: 10px 20px;
  cursor: pointer;
  margin: 5px;
  border-radius: 5px;
  color: #fff;}


@media screen and (max-width: 50em) {
  .menu{
      font-size: .8em;
  }
}